/fajlrendszer_muveletek/node_modules
/fajlrendszer_muveletek/package-lock.json
/express/node_modules
/express/package-lock.json
/express_mysql/node_modules
/express_mysql/package-lock.json
/jelenleti/node_modules
/jelenleti/package-lock.json
/leggazdagabb_emberek/node_modules
/leggazdagabb_emberek/package-lock.json